[user]
	name = Ryan Sullivan
	email = ryan@ryansully.com
[alias]
	aa = add .
	aliases = config --get-regexp alias
	br = branch
	ca = commit -a
	ci = commit
	co = checkout
	cob = checkout -b
	config-github = !bash ~/.dotfiles/bin/git-config-github
	config-remove-github = config --remove-section github
	cp = cherry-pick
	depth = rev-parse --show-cdup
	df = diff
	dfa = !`git config diff.guitool` . &
	lg = log --pretty=badass --graph
	po = push origin
	pom = push origin master
	pr = pull --rebase --autostash
	prom = !"git fetch -p && git rebase --autostash origin/master"
	prs = !git pull --rebase && git submodule update --rebase
	pu = !"git fetch origin -v; git fetch upstream -v; git merge upstream"
	pur = !"git fetch origin -v; git fetch upstream -v; git rebase upstream"
	purs = !"git fetch origin -v; git fetch upstream -v; git rebase upstream; git submodule update --rebase"
	pushf = push --force-with-lease
	root = !pwd
	scrap = !git reset --hard && git clean -df
	st = status
	sync = !"git fetch upstream; git checkout master; git merge upstream/master"
	undo = reset --soft HEAD^
	unstage = reset HEAD
[color]
	ui = true
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[diff]
	guitool = meld
[instaweb]
	httpd = lighttpd
[merge]
	tool = meld
[mergetool]
	keepBackup = false
[pretty]
	badass = %C(yellow)%h%Creset%x09%Cgreen%d%Creset %s %C(bold blue)<%an>%Creset
[push]
	default = current
	followTags = true
